<% @menus.each do |item| %>
  <div>Nombre: <%=item.name%> 
    <%= link_to 'Show', menu_path(item) %>
    <%= link_to 'Remove', menu_path(item), 
      method: :delete, 
      data: {confirm:'Are you shure?'} %>
  </div>
<% end %>

<div><%= link_to 'Create Menu', new_menu_path %></div>