<div>
name:<strong><%=@menu.name%></strong>
</div><div>
description:<strong><%=@menu.description%></strong>
</div><div>
points: <strong><%=@menu.points%></strong>
</div>

<div>
<%= link_to 'Menus', menus_path %>
</div>